.theme-panel{
    position:fixed;
    right: 0;
    top:25%;
    z-index: 100;
    transition: .4s;
    transform: translateX(100%);
}

.theme-panel.open {
    transform: translateX(0);
}

.theme-body{
    background-color: var(--primary-color);
    border: 0;
    max-width: 185px;
    text-align: center;
    padding: 15px 13px;
    border-bottom-left-radius: 25px;
    position: relative;
}

.theme-body span {
    color: white;
    font-weight: 700;
    letter-spacing: -.09px;
    line-height: 20px;
    padding-bottom: 8px;
    display: inline-flex;
    position: relative;
    bottom: 0.2rem;
}

.theme-tab{
    font-size: 1.2rem;
    transition: 0.4s;
    /* pointer-events: none; */
}
.theme-tab:hover{
    font-size: 1.5rem
}

.theme-panel.open .theme-tab i {
    /* mirror itself */
    transform: scaleX(-1);
}

.btn-group{
    box-shadow: 12px 30px rgba(22, 28, 45, .2);
    border-radius: 33px;
    background-color: white;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 7px 6px rgb(39 35 58 / 20);
    justify-content: center;    
    border: transparent;
}
.left,  .right{
    width: 100%;
    border: transparent;
    height: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.left{
    border-right: 1px solid var(--color-text-base);
}
.left:hover,
.right:hover {
    color: var(--white);
    background-color: var(--color-text-base);
}
.active{
    background-color: var(--color-text-base);
    color: var(--white)
}
.theme-tab{
    position: absolute;
    top: 0;
    transform: translate(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    border: 0;
    color: var(--bg-panel);
    background-color: var(--primary-color);
    border-bottom-left-radius: .4rem;
    border-top-left-radius: .4rem;
    left: 1px;

}
.navbar{
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    width: 100%;
    justify-content: space-between;
}
.navbar-nav{
    align-self: center

}

.brand-logo a h2{
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    line-height: 1.42;
}
.hero-content {
    text-align: center;
    padding: 1rem
}
.code-icon{
    background-color: #da5252;
    color: var(--color-text);
    padding: 1rem;
    border-radius: 50%;
    display:inline-block;
    margin-bottom: 1rem;
    text-align:center;  
}

.code-icon .fa-code {
    font-size : 2rem;
    display: inline-block;
    line-height: 1.5
}

.search-container label {
    align-items: center;
    position: relative;
    display: inline-flex;
}

/* remove browser styles */
.search-input{
padding: .75rem 1.5rem;
background-color: #f1f3f5;
border: 1px solid #f1f3f5;
border-radius: 50rem;
}


.search-input:focus {
    outline: none;
    border-color: #4dabf7;
    box-shadow: inset 0 1px 1px rgba(0, 0 ,0, .0125), 0 0 8px rgba(34, 139, 230, .5);
}


 .fa-search {
    position: absolute;
    right: 10px;
}

.portfolio-grid{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; 
}

.portfolio-filter-nav{
    display: flex;
    flex-wrap: wrap;
    padding: 20px
}

.portfolio-filter-nav .filter-link{
    padding: 0 1rem;
    font-size: .08125;
    line-height: 1.6;
    letter-spacing: 4px;
    font-weight: 700;
}

.portfolio-filter-nav .filter-link:hover{
    color: #a3aef1;
    cursor: pointer;
}
.portfolio-filter-nav .filter-link:active{
    color: #495fef;
}


.portfolio-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    justify-content: center;
    align-items: center;
}

.portfolio-card{position: relative;
    margin: 1rem 1.85rem;
    max-width: 225px;
}

.card-body img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 8px;
}


.card-popup-box{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    transition: .4s;
    z-index: 1;
    padding: 1.25rem 1.875rem;
    opacity: 0;
    margin-bottom: 1rem;
}

.card-popup-box:before {
    position: absolute;
    content: "";
    background-color: var(--bg);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    opacity: .9;
    border-radius: 8px;
}

.portfolio-card:hover .card-popup-box {
    bottom: 10px;
    opacity: 1;
}


.card-popup-box div{
    color:var(--color-text-opacity);
    font-size: .6125rem;
    line-height: 1.63;
    letter-spacing: 1.63px;
    pointer-events: none;
    font-weight: 700;
    padding-bottom: .5rem;
    text-transform: uppercase;
}


.card-popup-box h3{
    pointer-events: none;
    color: var(--color-headings);
    font-size: 1.3125rem;
    letter-spacing: -.5px;
    font-weight: 700;
    margin-bottom: 0;
}










.main-menu { display: flex;}

.main-menu .nav-item {
    padding: 18px;
    font-size: 15px;
    line-height: 26px;
    cursor: pointer;
    text-transform: lowercase
}

.full-screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    transition: all 0.35s ease-in;
    background-color: white;
    visibility: hidden;
    opacity: 0;

}

.modal-header{
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.modal-header .fa-times{
    font-size: 1.5rem;
    transition: 0.5s ease-in
}

.modal-header .fa-times:hover{
    transition: scale(1.1);
    cursor: pointer;     
}

.full-screen-modal.is-visible{
    visibility: visible;
    opacity: 1;
}

.modal-body {
    display: flex;
    align-items: center;
}

[data-animation="zoomInOut"].full-screen-modal{
    transform: scale(.2)
}

[data-animation="zoomInOut"].full-screen-modal.is-visible{
    transform: none;
}


